
body {
    background: linear-gradient(to bottom, rgb(161, 140, 209) 0%, rgb(251, 194, 235) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    height: 1000px;
}

h1 { 
   text-align: center;
   color: white;
}

.entireForm {
    border-radius: 20px;
    background-color: rgb(252, 251, 251);
    padding: 50px;
    width: 50%;
    margin: auto;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
::placeholder {
  color: #fdf9f9;
}


label { color: #694F8E}

.inputInfo {
    width: 100%;
    margin: auto;
    
}

.Cont12 {
    display: flex;
    
  }
  
  .inputInfo {
    margin-right: 20px; /* spațiu între elemente */
  }
  
  
  .inputInfo label {
    display: block; /* afișează label-urile pe linii separate */
  }

.inputInfo label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
  background-color: #694F8E;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #440606;
  border: 1px solid #440606;
  font-weight: 700;
}

/*styling items */
#fname, #lName, #adress, #subject {
  background-color: #B692C2;
  color: #fff;
}

#email, #phone {
  background-color: #B692C2;
  color: #fff;
}

#countrySelect {
  background-color: #B692C2 ;
  color: white;
}

.custom-select select {
  display: inline-block;
  padding: auto;
  cursor: pointer;
 

}
 
.custom-select:after {
  content: '';
  width: 20px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
